<!DOCTYPE html>
<html>
<head>
    <!-- Tab Title -->
    <title>Paper Scraper</title>
    <!-- Tag Icon -->
    <link rel="icon" href="./assets/images/NLCVGriswaldLights.jpeg"/>
    <!--&lt;!&ndash;Tab Image&ndash;&gt;-->
    <!--<link rel="icon" href="./assets/img/Pokeball.PNG"/>-->
    <!-- View Port Size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Materialize - Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

<!-- Fixed Nav Bar -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-3">
            <a href="/" class="brand-logo"><i class="material-icons">loop</i> Holiday Lights</a>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" target="_new"></a></li>
                <li><a href="#" target="_new">Github Repo</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- For Mobile Nav Bar -->
<ul class="side-nav darken-3" id="mobile-demo">
    <li><a href="#" target="_blank"></a></li>
    <li><a href="#" target="_new">Github Repo</a></li>
</ul>


<!-- Page Content -->
<main>

    <!-- Site Info Container -->
    <div class="container">
        <ul class="collection with-header">
            <li class="collection-header grey lighten-2"><h4><b>Season's Greetings !</b></h4></li>
            <li class="collection-item">"The most enduring traditions of the season are best enjoyed in the warm embrace of kith and kin. Thith tree is a thymbol of the thspirit of the Grithwold family Chrithmath." - Clark Griswald </li>
            <li class="collection-item"><div>Click <i class="material-icons">loop</i> See Next</div></li>
            <li class="collection-item"><div>Click <i class="material-icons">language</i> </div></li>
            <li class="collection-item"><div>Click <i class="material-icons">comment</i> Add Comment.</div></li>
            <li class="collection-item"><div>Click <i class="material-icons">thumbs_up_down</i> User Ratings.</div></li>
        </ul>
    </div>

    <div class="container">
        {{{body}}}
    </div>

</main>


<!-- Footer -->
<footer class="page-footer grey darken-3">
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4" href="#"></a>
        </div>
    </div>
</footer>



<!-- Link in jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Materialize - Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script type="text/javascript" src="assets/javascript/app.js"></script>

</body>

</html>