<!DOCTYPE html>
<html>
<head>
    <!-- Tab Title -->
    <title>Scraper News</title>
    <!-- Tab Image -->
    <link rel="icon" href="assets/images/logo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'"/>
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/materialize.css" />
    <!-- Materialize - Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Special+Elite" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css"/>
    <!-- Link in jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!--Moment CDN CHRISTMAS COUNTDOWN-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/af.js"></script>-->

    <!-- Materialize - Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- Basic Page JavaScript for Repsonsiveness -->
    <script type="text/javascript" src="../assets/javascript/app.js"></script>
</head>

<body>


<!-- Fixed Nav Bar -->


<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue-grey">
            <a href="news" class="brand-logo"><span><img src="../assets/images/logo.png"/></span>Scraper News
            </a>
        </div>
    </nav>
</div>

<!-- Main Container -->
<main>


    <div class="container">
        <header>
            <h1>Season's Greetings!</h1>
        </header>

    </div>


    <!-- Render All Articles -->
    <div class="container">
        {{{body}}}
        <a href="/holidayarticles">Articles</a>
    </div>

</main>

<!-- Footer -->
<footer class="page-footer blue-grey darken-2">
    <div class="row">
        <div class="col l4 s6"></div>
    </div>

    <div class="footer-copyright blue-grey">
        <div class="col l4 s12 countdown"><a href="#" class="brand-logo"><img
                src="../assets/images/NLCVGriswaldLights.jpeg"/><span></span>Days Until Christmas...</a>
        </div>
    </div>
    </div>
</footer>

</body>

</html>